.duvidas {
    background-color: #481C1E;
}

.container-duvidas {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.itens-duvidas {
    padding: 0 40px;
    ul {
    list-style: none; /* Remove as bolinhas padrão */
    }
    ul li {
    position: relative;
    padding-left: 40px; /* Abre espaço para o retângulo à esquerda */
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 300;
    }

    ul li::before {
    content: "";       /* Necessário para o pseudo-elemento aparecer */
    position: absolute;
    left: 0;
    top: 50%;          /* Alinha ao centro da linha de texto */
    transform: translateY(-50%); /* Ajuste fino para centralização vertical */
    
    /* Suas dimensões específicas */
    width: 24px;
    height: 0.15rem;
    background-color: #fff; /* Cor da linha */
    }
}

@media (max-width: 1000px) {
    .container-duvidas {
        padding-bottom: 60px;
    }
    .itens-duvidas {
            ul li {
            padding-left: 40px; /* Abre espaço para o retângulo à esquerda */
            margin-bottom: 20px;
            font-size: 20px;
        }
    ul li::before {
        width: 20px;
        height: 0.15rem;
        }
    }
}

@media (max-width: 700px) {
    .container-duvidas {
        padding-bottom: 40px;
    }
    .itens-duvidas {
            ul li {
            padding-left: 40px; /* Abre espaço para o retângulo à esquerda */
            margin-bottom: 20px;
            font-size: 18px;
        }
    ul li::before {
        width: 20px;
        height: 0.15rem;
        }
    }
}