.especialidades {
    background-color: #d9d9d9;
}

.container-especialidades {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.titulo-especialidades {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    color: #000;
}

.especialidades-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

.item {
    border-radius: 10px;
    width: 360px;
    height: 180px;
    padding: 20px 30px;
    background-color: #fff;
    h3 {
        margin-bottom: 60px;
    }
}
@media (max-width: 800px) {
    .especialidades-container {
    grid-template-columns: repeat(1, 1fr);
    }
    
    .titulo-especialidades {
    font-size: 36px;
  }

  .item {
    margin: 0 auto;

  }
  .texto-especialidades {
    font-size: 16px;
    line-height: 20px;
  }
}
