.especialidades {
    background-color: #d9d9d9;
}

.container-especialidades {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.especialidades-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 40px;
    padding: 0 30px;    
    align-items: center;
}

.item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background-color: #fff;
    h3 {
        margin-bottom: 60px;
    }
}
@media (max-width: 1000px) {
    .container-especialidades {
        padding-bottom: 60px;
    }
    .especialidades-container {
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background-color: #fff;
    h3 {
        margin-bottom: 40px;
    }
    }  
}


@media (max-width: 700px) {
    .especialidades-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
    .container-especialidades {
        padding-bottom: 40px;
    }
}
