html {
  scroll-behavior: smooth !important;
}

.home, .sobre{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0px;
    max-width: 100%;
    font-family: "Montserrat", "Poppins", sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-medio,.titulo-medio1 {
    font-size: 64px;
    line-height: 1.125;
    font-family: "Montserrat";
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-medio1 {
    padding: 0 20px;
}

.pad{
  padding: 0 40px;
}

.branco {
    color: #fff;
}

.preto {
    color: #000;
}

.marrom {
    color: #3E231C;
}

@media (max-width: 1000px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 56px;
    padding-top: 40px;
    margin-bottom: 40px;
}

}
@media (max-width: 700px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 40px;
    padding-top: 30px;
    font-family: "Montserrat";
    font-weight: 500;
}
}
.btn-flutuante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #3E231C;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 9999;
    
    /* Estado inicial transparente/escondido */
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-flutuante.mostrar {
    opacity: 0.6; /* Meio transparente como solicitado */
    visibility: visible;
    transform: translateY(0);
}

.btn-flutuante.mostrar:hover {
    opacity: 1;
    transform: scale(1.1);
}