* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* Garante que nada escape para os lados */
}

.home, .sobre{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", "Poppins", sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-medio,.titulo-medio1 {
    font-size: 64px;
    line-height: 1.125;
    font-family: "Montserrat";
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-medio1 {
    padding: 0 20px;
}

.pad{
  padding: 0 40px;
}

.branco {
    color: #fff;
}

.preto {
    color: #000;
}

.marrom {
    color: #3E231C;
}

@media (max-width: 1000px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 56px;
    padding-top: 40px;
    margin-bottom: 40px;
}

}
@media (max-width: 700px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 40px;
    padding-top: 30px;
    font-family: "Montserrat";
    font-weight: 500;
}
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px; /* Distância do fundo */
  right: 20px;  /* Distância da direita */
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  z-index: 9999; /* Garante que fique na frente de tudo */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.whatsapp-float img {
  width: 35px; /* Tamanho do ícone dentro do círculo */
  height: 35px;
}

/* Efeito de aumentar levemente ao passar o mouse */
.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #128c7e;
}