html, body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", "Poppins", sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-medio,.titulo-medio1 {
    font-size: 64px;
    line-height: 1.125;
    font-family: "Montserrat";
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-medio1 {
    padding: 0 20px;
}

.pad{
  padding: 0 40px;
}

.branco {
    color: #fff;
}

.preto {
    color: #000;
}

.marrom {
    color: #3E231C;
}

@media (max-width: 1000px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 56px;
    padding-top: 40px;
    margin-bottom: 40px;
}

}
@media (max-width: 700px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 40px;
    padding-top: 30px;
    font-family: "Montserrat";
    font-weight: 500;
}
}