html, body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
ul {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-medio {
    font-size: 64px;
    line-height: 1.125;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.pad{
  padding: 0 40px;
}

.branco {
    color: #fff;
}
.preto {
    color: #000;
}
.roxo {
    color: #481C1E;
}

@media (max-width: 1000px) {
    .titulo-medio {
    font-size: 56px;
    padding-top: 40px;
    margin-bottom: 40px;
}
}
@media (max-width: 700px) {
    .titulo-medio {
    font-size: 48px;
    padding-top: 30px;
}
}