.faq-bg {
    background-color: #481C1E;
}

.container-faq {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.titulo-faq {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.texto-faq {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

/*.faq {
    display: flex;
    .faq-item {
        padding: 20px 40px;
        width: 800px;
        max-height: 150px;
        margin: 0 auto;
        background-color: #D9D9D9;
        border-radius: 10px;
    }
    .faq-item h3 {
        margin-bottom: 20px;
    }
    .faq-item p {
        max-width: 75ch;
    }
}*/

/* O Botão da Pergunta */
.faq-item {
    margin-bottom: 10px;
}

.faq-question {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  transition: background 0.3s ease;
}

.faq-question:hover {
  background-color: #fff;
}

/* O Painel da Resposta (Invisível por padrão) */
.faq-answer {
  width: 900px;
  max-height: 0;
  margin: 0 auto;
  overflow: hidden;
  transition: min-height 0.4s ease; /* Aqui acontece a mágica da extensão */
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.faq-answer p {
  color: #555;
  font-size: 14px;
}

/* Classe que o JavaScript vai adicionar ao clicar */
.faq-item.active .faq-answer {
  max-height: 200px; /* Um valor alto o suficiente para o conteúdo */
  margin-top: 0px;
  padding: 0px 40px 20px 40px;
}

.faq-item.active .icon {
  transform: rotate(45deg); /* Gira o + para virar um x */
}

.faq-item.active .faq-question {
    border-radius: 10px 10px 0px 0px;
    transition: background 0.3s ease;
}

@media (max-width: 800px) {
  .faq-question {
    width: 400px;
    font-size: 14px;
  }
  .faq-answer {
    width: 400px;
  }
  .faq-answer p{
    font-size: 12px;
  }
  .titulo-medio {
    font-size: 36px;
  }

  .texto-faq {
    font-size: 16px;
    line-height: 20px;
  }
}