.faq-bg {
    background-color: #481C1E;
}
.container-faq {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.texto-faq {
    font-size: 20px;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 30px;
}

.faq-item { 
    margin-bottom: 10px;
}
.faq-question {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  transition: background 0.3s ease;
}
.faq-question:hover {
  background-color: #fff;
}
.faq-answer {
  width: 90%;
  max-height: 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  margin-top: -1px; /* Isso faz a resposta "subir" 1px e cobrir qualquer fresta */
  position: relative; /* Garante que o ajuste de margem funcione bem */
  border: none;
}
.faq-answer p {
  color: #555;
  font-size: 14px;
}
/* Classe que o JavaScript vai adicionar ao clicar */
.faq-item.active .faq-answer {
  max-height: 200px; /* Um valor alto o suficiente para o conteúdo */
  margin-top: 0px;
  padding: 0px 40px 20px 40px;
}
.faq-item.active .icon {
  transform: rotate(45deg); /* Gira o + para virar um x */
}
.faq-item.active .faq-question {
    border-radius: 10px 10px 0px 0px;
    transition: background 0.3s ease;
}

@media (max-width: 1000px) {
  .container-faq {
    padding-bottom: 60px;
  }
  .faq-question {
    font-size: 14px;
  }
  .faq-answer p{
    font-size: 12px;
  }
  .texto-faq {
    font-size: 18px;
  }
}
@media (max-width: 750px) {
  .container-faq {
    padding-bottom: 40px;
  }
  .faq-question {
    font-size: 14px;
    padding: 16px 20px;
  }
  .faq-item.active .faq-answer {
    padding: 0px 20px 20px 20px;
}
  .texto-faq {
    font-size: 16px;
  }
}