.faq-bg {
    background-color: #481C1E;
}

.container-faq {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.titulo-faq {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;    
}

.texto-faq {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.faq {
    display: flex;
    .faq-item {
        padding: 20px 40px;
        width: 800px;
        max-height: 150px;
        margin: 0 auto;
        background-color: #D9D9D9;
        border-radius: 10px;
    }
    .faq-item h3 {
        margin-bottom: 20px;
    }
    .faq-item p {
        max-width: 75ch;
    }
}