.footer-bg {
    background-color: #000;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0px;
    color: #fff;
    display: flex;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px;
    align-items: center;
}


.titulo-contato {
    margin-bottom: 40px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 1.125;
    font-style: italic;
    font-weight: 100;
}

.atendimento {
        max-width: 40ch;
        margin-top: 8px;
    .info-atendimento {
        font-size: 18px;
        line-height: 1.125;
        font-family: 'Poppins';
        font-weight: 300;
        margin-bottom: 4px;
    }
    .texto-atendimento {
        margin-bottom: 45px;
        font-size: 14px;
        line-height: 1.125;
        font-weight: 300;
        font-family: 'Poppins';
    }
}

.texto-info {
        font-size: 14px;
        line-height: 1.125;
        font-weight: 300;
        font-family: 'Poppins';
}

.whats-info {
    margin-bottom: 20px;
}

.whats-info {
    a {
        color: #fff;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
.insta-info {
    a {
        color: #fff;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.mapbox {
    iframe {
        width: 360px;
        height: 220px;
    }
}

@media (max-width: 450px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        .contato {
            margin: 0 auto;
        }
        .titulo-contato {
            font-size: 48px;
            margin-bottom: 40px;
            text-align: center;
        }
        .texto-info {
            font-size: 14px;
        }
        .atendimento {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
            margin-bottom: -50px;
            p {
                text-align: center;
                max-width: 200px;
            }
        }
        .mapbox {
            align-items: center;
        }
    }
}