.footer-bg {
    background-color: #3E231C;
    padding: 80px 20px 40px 20px;
    color: #fff;
    overflow: hidden;
}

.footer {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas no PC */
    gap: 60px;
}

.titulo-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 20px;
}

/* --- BLOCO CONTATO E REDES --- */
.contato-bloco {
    margin-bottom: 40px;
}

.whats-info a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.texto-info {
    font-size: 14px;
    font-weight: 600;
}

.icones-redes {
    display: flex;
    gap: 20px;
}

.icones-redes a:hover, .whats-info a:hover {
    opacity: 0.8;
}

/* --- BLOCO MAPA E ENDEREÇO --- */
.atendimento-container {
    display: flex;
    flex-direction: column;
}

.texto-atendimento {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.mapbox {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.mapbox iframe {
    width: 100%;
    height: 100%;
    /* Removido filtros para manter cor original do Google */
}

/* --- RESPONSIVIDADE (MOBILE) --- */
@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr; /* Tudo em uma coluna */
        text-align: center;
    }

    .whats-info a, .icones-redes {
        justify-content: center; /* Alinha ícones no meio */
    }

    .whats-info a {
        text-align: left; /* Mantém o texto do Whats organizado */
    }

    .atendimento-container {
        align-items: center;
    }

    .mapbox {
        max-width: 100%;
        height: 220px;
    }
}