.footer-bg {
    background-color: #000;
}
.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px;
    color: #fff;
    display: flex;
    grid-template-rows: 1fr;
    gap: 100px;
    align-items: start;
}
.contato {
    align-items: center;
}
.titulo-contato {
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 1.125;
    font-style: italic;
    font-weight: 100;
}
.texto-info {
    font-size: 14px;
    line-height: 1.125;
    font-weight: 300;
    font-family: 'Poppins';
    text-align: start;
}
.whats-info {
    margin-bottom: 20px;
}
.whats-info, .insta-info {
    a {
        color: #fff;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
.atendimento {
    .info-atendimento {
        font-size: 20px;
        line-height: 1.125;
        font-family: 'Poppins';
        font-weight: 400;
        margin-bottom: 4px;
    }
    .texto-atendimento, .texto-atendimento1 {
        color: #d8d8d8;
        font-size: 14px;
        line-height: 1.125;
        font-weight: 300;
        font-family: 'Poppins';
        max-width: 40ch;
    }
    .texto-atendimento1 {
        margin-bottom: 40px;
    }
}
.mapbox iframe{
    width: 360px;
    height: 240px;
    border-radius: 10px;   
}

@media (max-width: 1000px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 40px 20px;
        padding: 60px 20px;
        align-items: baseline;
    }
    .contato, .atendimento {
        margin: 0 auto;
        text-align: center;
    }
    .titulo-contato {
        margin-bottom: 30px;
    }
    .mapbox {
        grid-column: 1 / span 2; 
    }
    .mapbox iframe {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr; 
        padding: 40px 20px;
        }
    .mapbox, .contato, .atendimento {
        grid-column: 1; 
        text-align: center;
    }
    .mapbox iframe {
        height: 200px;
    }
    .footer .insta-info::after {
        content: "";
        display: block;
        width: 100% +100px;
        margin: 0 auto;
        background: #3b3b3b;
        height: 1px;
        margin-top: 40px;
}
}