body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-grande {
    font-size: 64px;
    line-height: 70px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: lighter;
}

.titulo-medio {
    font-size: 48px;
    line-height: 56px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: lighter;
}

.header {
    margin: 0px auto;
    max-width: 1200px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-family: 'Poppins';
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 500px;
}

.header-menu a {
    font-size: 16px;
    padding: 16px 0px;
    display: inline-block;
    color: #000;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #000;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
.header-menu a:hover:after {
    width: 100%;
}


.titulo-home {
    text-align: center;
    margin-bottom: 40px;
}

.home {
    background-color: #fff;
}

.btn-home {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding: 24px 60px;
    border-radius: 10px;
    background-color: #9d9d9d;
    margin-bottom: 100px;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
}

.btn {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
        margin-bottom: 300px;
    }
    .header-menu a {
        margin: 0 20px;
            font-size: 12px;
    }
    .titulo-grande {
        font-size: 42px;
        line-height: 1.125;
    }
    .btn-home {
       font-size: 18px;
       padding: 14px 40px;
       margin-bottom: 80px;
    }
}
