.header {
    margin: 0px auto;
    max-width: 1200px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-family: 'Poppins';
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 500px;
    list-style: none;
    button {
        display: none;
    }
}
.mobile-menu {
    display: none;
}

.header-menu a {
    font-size: 16px;
    padding: 16px 0px;
    display: inline-block;
    color: #000;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #000;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
.header-menu a:hover:after {
    width: 100%;
}
.titulo-home {
    text-align: center;
    margin-bottom: 60px;
    font-size: 72px;
    line-height: 1.125;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 200;
    padding: 0 30px;
}

.home {
    background-color: #fff;
}

.btn {
    text-align: center;
    padding-bottom: 100px;
    a {
    font-size: 20px;
    padding: 24px 60px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto';
    color: #000000;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    }
    
    a:hover {
     /* Aumenta o desfoque e o deslocamento para parecer que subiu */
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px); 
    }

    a:active {
    /* Diminui a sombra para parecer que foi clicado */
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
        margin-bottom: 300px;
    }
    .header-menu a {
        margin: 0 20px;
        font-size: 14px;
    }
    .titulo-home {
        font-size: 64px;
        margin-bottom: 40px;
    }
    .btn{
        padding-bottom: 60px;
        a {
        font-size: 16px;
        padding: 16px 40px;
        }
    }
}

@media (max-width: 500px) {
    .header-menu {
        margin-bottom: 300px;
        display: flex;
        justify-content: flex-end;
        padding: 0 30px;
        li {
            display: none;
        }
        .btn-mobile{
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 1rem;
        }
    }
    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-menu a {
        margin: 0 20px;
        font-size: 14px;
    }
    .titulo-home {
        font-size: 56px;
        margin-bottom: 30px;
    }
    .btn{
        padding-bottom: 60px;
        a {
        font-size: 14px;
        padding: 16px 30px;
        }
    }
}
