.mud {
    background-color: #d9d9d9;
}
.container-mud {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.colunas-mud {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100ch;
    gap: 100px;
    color: #000;
    padding: 0 30px;
}

.mud-conteudo{
    align-content: end; 
    margin-bottom: 12px;
}

.mud-conteudo p{
    margin-bottom: 60px;
}

.texto-mud{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 300;
    text-align: justify;
}

.btn-mud {
    font-size: 18px;
    color: #000;
    padding: 12px 40px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 300;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-mud:hover {
     /* Aumenta o desfoque e o deslocamento para parecer que subiu */
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px); 
}

.btn-mud:active {
    /* Diminui a sombra para parecer que foi clicado */
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

@media (max-width: 1000px) {
    .container-mud {
        padding-bottom: 60px;
    }
    .colunas-mud {
        gap: 40px;
    }
    .texto-mud {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .container-mud {
        max-width: 500px;
        padding-bottom: 40px;
    }
    .colunas-mud {
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr;
        img {
            margin: 0 auto;
        }
        .mud-conteudo{
            text-align: center;
            p {
                margin-bottom: 40px;
                text-align: start;
            }
            .btn-mud {
                font-size: 14px;
                color: #000;
                padding: 12px 20px;
            }
        }
    }
}