.mud {
    background-color: #d9d9d9;
}

.container-mud {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.titulo-mud {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    color: #000;
}

.colunas-mud {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100ch;
    gap: 120px;
    color: #000;
}

.mud-conteudo{
    align-content: end;
    margin-bottom: 24px;
}

.mud-conteudo p{
    margin-bottom: 60px;
}

.texto-mud{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 300;
}

.btn-mud {
    font-size: 24px;
    color: #000;
    padding: 24px 60px;
    border-radius: 10px;
    background-color: #9d9d9d;
    margin-bottom: 100px;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
}

@media (max-width: 800px) {
    .colunas-mud {
        display: grid;
        grid-template-columns: 1fr;
    }
}