.sobre {
    background-color: #481C1E;
}

.container-sobre {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.titulo-sobre {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    color: #fff;    
}

.colunas-sobre {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 120px;
    max-width: 103ch;
    color: #fff;
    align-items: center;
}

.texto-sobre{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 300;
}

@media (max-width: 800px) {
    .colunas-sobre {
        display: grid;
        grid-template-columns: 1fr;
    }
}
