.sobre {
    background-color: #481C1E;
}

.container-sobre {
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.colunas-sobre {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 120px;
    max-width: 103ch;
    color: #fff;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.texto-sobre{
    font-size: 18px;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 300;
}

@media (max-width: 1000px) {
    .titulo-sobre {
        padding-top: 40px;
        margin-bottom: 40px;
    }
    .colunas-sobre {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 40px;
        img {
            margin: 0 auto;
        }
    }
    .container-sobre {
        padding-bottom: 60px;
    }
    .texto-sobre {
        text-align: justify;
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .texto-sobre {
        text-align: justify;
        font-size: 14px;
    }
}
