body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a {
    text-decoration: none;
}

.titulo-grande {
    font-size: 64px;
    line-height: 70px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: lighter;
}

.header {
    margin: 0px auto;
    max-width: 1200px;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'Poppins';
    font-style: italic;
}

.header-menu a {
    margin-top: 80px;
    padding: 16px 0px;
    display: inline-block;
    color: #000;
}

.titulo-home {
    text-align: center;
    margin-top: 600px;
}

.btn-home {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding: 24px 60px;
    border-radius: 10px;
    background-color: #9d9d9d;
    margin-bottom: 100px;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
}

.btn {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;
}

